
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************************************************************************************RESET CSS********************************************************************************/
/****************************************************************************************************************************HEADER********************************************************************************/
* {
	box-sizing: border-box;

}

body {
    background-image: url(patt.png);
    font-family: 'Roboto', sans-serif;
        
}
.container {
	width: 1170px;
	margin: 0 auto;
	
	

}
.row:after {
	content: "";
	display: block;
	clear: both;
}
[class*="col-"] {
	float: left;
	
}
.col-md-3 {
	width: 25%;
	
	
	
	
}
.col-md-6 {
	width: 50%;

}
.header {
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
	border-bottom: 1px solid white;
}

.menu li {
	float: left;
	width: 25%;
	height: 50px;
	list-style-type: none;
	border-right: 1px solid #2c71b8;
	text-align: center;

	
	
}
.presubmenu:after {
	content: "\25BC";
	padding-left: 10px;
	font-size: 10px;
	position: relative;
	top: -2px;
	

}
 
.menu li:first-child {
	border-left: 1px solid #2c71b8;

}
.menu a {
	display: block;
	font-size: 21px;
	font-weight: 300;
	text-decoration: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #2c71b8;
}
.menu li:hover a {
	background-color: #2c71b8;
	color: white;

}
.cart-widget {
	width: 40px;
	height: 40px;
	background-color: white;
	float: right;
	background-image: url(basket_blue.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.count {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #2c71b8;
	top: -10px;
	left: -10px;
	text-align: center;
	color: white;
	font-size: 12px;
	line-height: 20px;
}
/****************************************************************************************************************************SUBMENU********************************************************************************/
.submenu {
	width: 202.5%;
	background-color: #2d71b8;
	display: none;
	position: relative;
	left: -1px;
	
	

}
.submenu li {
	float: none;
	color: white;
	width: 100%;
	text-align: left;
	padding-left: 32px;
	line-height: 50px;
	
}
.row li:nth-child(2):hover .submenu  {
	display: block;

}
.menu li:hover {
	background-color: #2d71b8;
	color: white;

}
.submenu li:hover {
	background-color: white;
	color: #2c72ba;

}

/****************************************************************************************************************************SUBMENU********************************************************************************/
/****************************************************************************************************************************MAIN********************************************************************************/
.slide {
	height: 400px;
	border-bottom: 1px solid white;
}
.toolbar {
	height: 840px;
	margin-right: 30px;
	background-color: rgba(255,255,255,0.25);
	border-right: 1px solid white;
}
.col-md-9 {
	width: 75%;
	
}
.first:after {
	content: "\3E";
	padding: 8px;

}
span:last-child {
	text-decoration: underline;
}
.p {
	padding-top: 30px;
	color: white;
	font-weight: 300;

	
}
.h1 {
	padding: 30px 0 50px 0;
	color: white;
	font-size: 33px;
	

}
.goods div {
	width: 31%;
	float: left;
	margin-bottom: 30px;
	height: 650px;
	border: 1px solid white;
	text-align: center;
}
.goods li {
	height: 180px;
	background-color: rgba(255,255,255,0.75);
	list-style-type: none;
	border-bottom: 1px solid white;
	

}
.goods img {
	position: relative;
	top: 45px;


}

h2 {
	position: relative;
	top: 15px;
	color: white;
	font-size: 25px;
}
